.container{
    margin: 0 auto;
    background-color: rgb(49, 138, 255);
    color: white;
    width: 80%;
    height: 500px;
    margin-top: 100px;
    border: 5px solid rgb(176, 229, 250);
    box-shadow: 5px 5px 5px  rgba(0, 0, 0, 0.13);
    border-radius: 5px;
}

.main{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding-left: 40px;
    gap:1rem;
    
}
.radio{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.buttons{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding:80px 20px 20px 20px;
    gap:5px;
}
.button{
    border: 5px solid black;
    padding: 5px 15px;
    border-radius: 5px;
}